if [ -d bin ] ; then
    export PATH="$HOME/bin:$PATH"
fi

# nvm
if [ -d "$HOME/.nvm" ] ; then 
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
fi

# golang
if [ -d "$HOME/.go" ] ; then 
    export GOROOT="$HOME/.go"
    export PATH=$GOROOT/bin:$PATH
    export GOPATH="$HOME/go"
    export PATH=$GOPATH/bin:$PATH
fi

# default editor
export VISUAL="vim"
export EDITOR="$VISUAL"


# For local changes
# MUST be last line
[ -f .exports.local ] && source .exports.local